[Desktop Entry]
Name=MultiTouch Flash Player
Comment=Play Flash files with MultiTouch displays
Exec=FlashPlayer %U
Terminal=false
Type=Application
StartupNotify=true
Icon=multitouch
MimeType=application/x-shockwave-flash;
Categories=GTK;AudioVideo;Audio;Video;Player;
